#root {
  width: 100%;
}

.header {
  width: 100%;
}

.horizontal-bar {
  height: 8px;
  width: 100%;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #1e668a, #0bdac5, #f8904b, #f36cae);
  animation: gradient 15s ease infinite;
}

.title-container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  margin: 0;
  color: white;
  font-weight: lighter;
  line-height: 1.1;
}

.logo {
  width: 50px;
  height: 50px;
  max-width: 100%;
  padding: .5rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2rem #f36cae);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.usage-warning {
  text-align: justify;
  margin: 0;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.url-example {
  /* color: #f36cae; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .75rem 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}